@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, var(--color-primary) 0%, var(--color-dark) 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  width: 350px;
  height: 700px;
  box-sizing: border-box;
}

.image {
  margin-bottom: 26px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
}

.title {
  font-size: 25px;
  font-weight: 700;
  flex-shrink: 0;
}

.date {
  font-size: 20px;
  font-weight: 500;
  flex-shrink: 0;
}

.description {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-text);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  flex-shrink: 1;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
  margin-left: -30px;
  flex-shrink: 0;
}

.skill {
  font-size: 25px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
  
}

.links {
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
}

.sourceLink {
  text-decoration: none;
  color: var(--color-text-title);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}

.demoLink {
  text-decoration: none;
  color: var(--color-text-title);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-secondary);
  padding: 1px 22px;
}