@import '../../vars.css';

.contact {
    background: linear-gradient(180deg, var(--color-bg), var(--color-secondary) 50%);;
    padding: 60px 0 200px 0;
    margin-top: -100px;
}

.contact img {
    width: 92%;
}

.contactText {
    font-size: 45px;
    font-weight: 700;
    margin-top: 200px;
    margin-bottom: 30px;
    color: var(--color-text-title);
}

.contactRow {
    align-items: center;
}

.contactFormCol {
    padding: 1px 8px 0px 0px;
}

.contactFormBtnCol {
    padding: 1px 8px 0px 0px;
    display: flex;
    align-items: center;
}

.contactFormInput, .contactFormTextArea {
    width: 100%;
    background: var(--color-bg);
    border: 1px solid var(--color-text);
    border-radius: 20px;
    color: var(--color-text-title);
    margin: 0 0 8px 0;
    padding: 18px 26px;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.8px;
    transition: 0.3s ease-in-out;
}

.contactFormInput:focus, .contactFormTextArea:focus {
    background: var(--color-text-title);
    color: var(--color-bg);
}

.contactFormInput::placeholder, .contactFormTextArea::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text);
}


.contactFormInput:focus::placeholder, .contactFormTextArea:focus::placeholder {
    color: var(--color-bg);
    opacity: 0.8;
}

.contactFormBtn {
    font-weight: 700;
    color: var(--color-text-title);
    background-color: var(--color-bg);
    padding: 14px 48px;
    font-size: 18px;
    margin-top: 25px;
    border-radius: 0;
    position: relative;
    transition: 0.3s ease-in-out;
}
  
.contactFormBtnText {
    z-index: 1;
    position: relative;
}

.contactFormBtn::before {
    content: "";
    background: var(--color-primary);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: 0.3s ease-in-out;
}
  
.contactFormBtn:hover::before {
    width: 100%;
}

.status {
    margin-top: 35px;
    margin-left: 25px;
}

.danger {
    color: red;
}

.success {
    color: lime;
}