@import "../../vars.css";

.navbarSticky {
    position: fixed;
    padding: 18px 0;
    width: 100%;
    top: 0;
    z-index: 3;
    background-color: var(--color-bg);
}

.navbarBrand {
    font-size: 30px !important;
    font-weight: 700;
    color: var(--color-text-title);
}

.navbarBrand:hover, .navbarBrand:focus {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-text-title)  !important;
}

.navbarLink {
    font-weight: 400;
    color: var(--color-text-title) !important;
    letter-spacing: 0.8px;
    padding: 0 25px;
    font-size: 25px;
    opacity: 0.7;
}

a.navbarLink:hover, a.navbarLink.active {
    opacity: 1;
}

span.navbarText {
    display: flex;
}

.socialIcon {
    display: inline-block;
    margin-left: 15px;
}

.socialIcon a {
    width: 50px;
    height: 50px;
    display: inline-flex;
    border-radius: 50%;
    margin-right: 15px;
    margin-top: 15px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid var(--color-text-title);
}

.socialIcon a::before {
    content: "";
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: var(--color-text-title);
    border-radius: 50%;
    transform: scale(0);
	transition: 0.3s ease-in-out;
}

.socialIcon a:hover::before {
    transform: scale(1);
}

.socialIcon a img {
	width: 50%;
	z-index: 1;
	transition: 0.3s ease-in-out;
}

.socialIcon a:hover img {
	filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.navbarText button {
  font-weight: 700;
  color: var(--color-text-title);
  border: 1px solid var(--color-text-title);
  padding: 20px 30px;
  font-size: 25px;
  margin-left: 15px;
  /* margin-top:15px; */
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}

.navbarText button span {
  z-index: 1;
}

.navbarText button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: var(--color-bg);
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.navbarText button:hover {
  color: var(--color-bg);
}

.navbarText button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
    background-color: var(--color-text-title);
	transition: 0.3s ease-in-out;
}

.navbarToggler:active,
.navbarToggler:focus {
	outline: none;
    box-shadow: none;
}

.navbarTogglerIcon {
  width: 30px;
  height: 20px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid var(--color-text-title);
  transition: all 300ms linear;
  top: -2px;
}

.navbarTogglerIcon:focus {
	border-bottom: 2px solid var(--color-text-title);
}

.navbarTogglerIcon:after, .navbarTogglerIcon:before {
	width: 24px;
	position: absolute;
	height: 3px;
	background-color: var(--color-text-title);
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}

.navbarTogglerIcon:after {
	top: 8px;
}

.navbarToggler[aria-expanded="true"] .navbarTogglerIcon:after {
	transform: rotate(45deg);
	background-color: var(--color-text-title);
	height: 2px;
}

.navbarToggler[aria-expanded="true"] .navbarTogglerIcon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: var(--color-text-title);
	height: 2px;
}

.navbarToggler[aria-expanded="true"] .navbarTogglerIcon {
	border-color: transparent;
}
