@import "./vars.css";

* {
  box-sizing: border-box; /* Adds the border to fitting calculations */
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}